:root{
    --color-primary:#39A0ED;
    --color-secondary:#f023b6;
    --color-text:#32322C;
    --color-white:#ffffff;
    --color-black:#000000;
}

.bg-primary{
    background-color: var(--color-primary);
}
.bg-secondary{
    background-color: var(--color-secondary);
}
.bg-gradient{
    background: linear-gradient(135deg, var(--color-white), var(--color-primary));
    position: relative;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0%;
    left: 0%;
    z-index: -1;
    isolation: isolate;
}
.bg-gradient::after{
    content: "";
    position: absolute;
    inset: 0px;
    background: linear-gradient(135deg, var(--color-white), var(--color-secondary));
    animation: animated-gradient 5s linear alternate-reverse infinite;

}

body{
    margin: 0px;
    padding: 0px;
    font-family: 'Inter', sans-serif;
    min-height: 100vh;
}

*,
*::before,
*::after{
    box-sizing: border-box;
}

button, input, select, textarea{
    font: inherit;
}
h1,
h2,
h3,
h4,
h5,
h6{
    font-family: 'Playfair Display', serif;
    margin: 0px;
}

.header-wrap{
    padding: 20px 25px;
}
.logo-wrap{
    display: flex;
    gap: 5px;
    font-size: 36px;
    font-weight: 400;
    align-items: center;
    line-height: 1em;
}
.logo-colored{
    color: var(--color-white);
    padding: 5px 19px;
    border-radius: 7px;
}
.button{
    padding: 0.3em 1em;
    color: var(--color-white);
    text-decoration: none;
    border-radius: 1.5em;
}


.cta-wrap{
    text-align: center;
    max-width: 1096px;
    margin-inline: auto;
}
.button.cta{
    padding: 0.5em 4.5em;
}
.cta-heading{
    font-size: 128px;
    font-weight: 400;
    line-height: 0.85em;
    margin: 1.25em 0px;
    font-family: 'Dancing Script', cursive;
}
.cta-heading > span{
    padding-right: 10px;
    border-right: 5px solid var(--color-white);
    animation: typing-animation 300ms linear infinite alternate-reverse;
}

.bg-alternate{
    animation: animated-logo 5s linear alternate-reverse infinite;
}
@keyframes typing-animation {
    0%{
        border-right-color: transparent;
    }
    100%{
        border-right-color: var(--color-white);
    }
}
@keyframes animated-gradient {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@keyframes animated-logo {
    0%{
        background-color: var(--color-primary);
    }
    100%{
        background-color: var(--color-secondary);
    }
}

